@font-face {
  font-family: "chrono";
  src:url("../fonts/chrono.eot");
  src:url("../fonts/chrono.eot?#iefix") format("embedded-opentype"),
    url("../fonts/chrono.woff") format("woff"),
    url("../fonts/chrono.ttf") format("truetype"),
    url("../fonts/chrono.svg#chrono") format("svg");
  font-weight: normal;
  font-style: normal;

}