	<footer id="footer">
		<div class="wrapper">
			<div class="footer-container">
				<div class="footer-item">
					<h4>Newsletter</h4>
					<div class="newinp">
						<input type="email">
						<span>E-mail adress</span>
					</div>
					<!-- <label><input type="email" placeholder="E-mail adress"><span></span></label> -->
					<a href="#" class="btn btn-grey">Subscribe</a>
					<div class="copy">
						<p class="chronocash">&copy;2016 СhronoCash.de</p>
						<p>Luxury watches &apm; accessory</p>
					</div>
				</div>
				<div class="footer-item">
					<h4>CHRONOcash</h4>
					<ul>
						<li><a href="#">Sell Watch</a></li>
						<li><a href="#">For dealers</a></li>
						<li><a href="#">Info</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li><a href="#">Finejewels24</a></li>
						<li><a href="#">Newsletter</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">Jobs</a></li>
					</ul>
				</div>
				<div class="footer-item">
					<h4>ABOUT US</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Legal details</a></li>
						<li><a href="#">Data Privacy Policy</a></li>
						<li><a href="#">Advertising</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
				</div>
				<div class="footer-item">
					<h4>SERVICE</h4>
					<ul>
						<li><a href="#">FAQ / Help</a></li>
						<li><a href="#">Trusted Checkout</a></li>
						<li><a href="#">Trusted Seller</a></li>
						<li><a href="#">Trade Shows</a></li>
					</ul>
				</div>
				<div class="footer-item contact-us">
					<h4>Contact us</h4>
					<p class="adress">Adress</p>
					<span>Kurfürstendamm 35<br/>10719 Berlin Deutchland</span>
					<p class="phone">Phone</p>
					<span style="font-size: 18px;">+49 174 205 28 73</span>
					<p class="email">E-mail</p>
					<span>info@chronocash.de</span>
				</div>
				<div class="copy copy-footer">
					<p class="chronocash">&copy;2016 СhronoCash.de</p>
					<p>Luxury watches &apm; accessory</p>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>