<div class="datamodal" id="id-modal-1">
	<div class="datamodal-container">
		<div class="modal-content">
			<h4>Settings</h4>
			<div class="modalclose">
				<div class="close"></div>
			</div>
			<div class="select">
				<!-- <div class="arrow"></div> -->
				<p>Country</p>
				<select class="select-2" name="" id="">
					<!-- <option value="Country">Country</option> -->
					<option value="Kyiv">Kyiv</option>
					<option value="Odessa">Odessa</option>
				</select>
			</div>
			<div class="newinp">
				<input type="email">
				<span>Country</span>
			</div>
			<div class="newinp">
				<input type="email">
				<span>Language</span>
			</div>
			<div class="newinp">
				<input type="email">
				<span>Currency</span>
			</div>
			<a href="#" class="cancel">Cancel</a>
			<input type="submit" value="Save changes">
		</div>
	</div>
	<div class="modalclose"></div>
</div>
<nav class="mobile-menu">
    <div class="mobile-menu-item">
    	<ul>
			<li><a href="#">Watches</a></li>
			<li><a href="#">Brands</a></li>
			<li><a href="#">Magazine</a></li>
			<li><a href="#">Info &amp; Service</a></li>
			<li><a href="#">Sell Watch</a></li>
			<li><a href="#">MyChronoCash</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		<a href="#" data-modal="id-modal-1" class="language">
			<p class="active">ua</p>
			<p >usd</p>
			<!-- <div class="language-all">
				<a href="#">en</a>
			</div> -->
		</a>
		<!-- <a href="#" class="contact-us">Contact us</a> -->
    </div>
</nav>
<header id="header">
	<div class="header-top">
		<div class="wrapper">
			<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
			<form action="#" class="search">
				<input type="search" placeholder="Breguet Transatiatique">
				<div class="search-submit">
					<input type="submit" value="Search">
				</div>
				<!-- <div class="search-submit search-submit2">
					<input type="submit" value="">
				</div> -->
			</form>
			<a href="#" data-modal="id-modal-1" class="language">
				<p class="active">ua</p>
				<p >usd</p>
				<!-- <div class="language-all">
					<a href="#">en</a>
				</div> -->
			</a>
			<a href="#" class="contact-us">Contact us</a>
		</div>
	</div>
	<div class="header-bottom">
		<div class="wrapper">
			<div class="menu-burger"><span class="menu-burger-item"></span></div>
			<a href="#" class="bottom-logo"><img src="../img/logo2.png" alt=""></a>
			<nav class="header-bottom-l">
				<ul>
					<li><a href="#">Watches</a></li>
					<li><a href="#">Brands</a></li>
					<li><a href="#">Magazine</a></li>
					<li><a href="#">Info &amp; Service</a></li>
					<li><a href="#">Sell Watch</a></li>
				</ul>
			</nav>
			<div class="header-bottom-r">
				<div class="MyChronoCash-container">
					<a href="#" class="MyChronoCash">MyChronoCash</a>
					<div class="MyChronoCash-item">
						<a href="#" class="list">My information</a>
						<a href="#" class="diskette">Saved searches</a>
						<a href="#" class="eye">My last views</a>
						<a href="#" class="arrow-back">Log out</a>
					</div>
				</div>
				<a href="#" class="fav"><p>Wishes </p><span>22</span></a>
			</div>
		</div>
	</div>
</header>
